.trust-heading {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-top: 7rem;
    color: #0B132A;

}

.trust-subheading {
    margin-top: 2rem;
    text-align: center;
    color: #4F5665;
    font-weight: 400;
    font-size: 1.3rem;

}